<div id="<%= dom_id transaction %>" 
  class="flex p-6 rounded-lg shadow-lg bg-white <%= transaction.out_money? ? 'text-red-600' : 'text-green-600' %>"
>
  <span class="mr-2">
    <%= l transaction.date %>
  </span>
  <span class="mr-2 flex-grow">
    <%= number_to_currency transaction.transaction_value %>
  </span>
  <span class="mr-2">
    <%= transaction.description %>
  </span>
</div>
